.card-img-top{
    width: 50%;
    height: 65%;
}
.agregar{
    display: flex;
}
.cardDetail{
    margin-left: 29%;
}
.d-flex{
    width: 31rem !important;
    }
.imgDetail{
    margin-left: 25%;
}
.card-footer{
    width: 100%;
}.nav-link a{
    color: brown;
}