.navbar{
    width: 100%;
}
.imgItem{
    width: 200px;
    height: 200px;
}
a{
    color: brown;
    text-decoration: none;
}
.card-footer a{
    color: white !important;
    text-decoration: none;
}
.btn-primary{
    color: white;
}
